:root {
  --bodyBgColor: rgb(38,42,45);
  --bgColor: #1b1f23;
  --mainThemeColor: #55bd66;
  --borderColor: #2B2F33;
  --fontColor: rgb(232, 230, 227);
  --bgImg: url("/images/night_6f715611.gif");
  --subFontColor: rgb(232, 230, 227);
  --btnText: #FFF;
  --aColor: rgb(174, 194, 211);
  --articleTitle: rgb(174, 194, 211);
}
