:root {
  --bodyBgColor: rgb(239, 239, 239);
  --bgColor: #FFF;
  --mainThemeColor: #55bd66;
  --borderColor: rgb(220, 223, 230);
  --fontColor: #333;
  --bgImg: rgb(239, 239, 239);
  --subFontColor: #777;
  --btnText: #FFF;
  --aColor: #666;
  --articleTitle: #555;
  --topicTitleBg: linear-gradient(30deg, #ddedf4, #efe4f6);
}
