html,body {
    margin: 0;
    height: 100%;
    padding: 0;
}
a {
    text-decoration: none;
}

* {
    outline: none !important;
}
/*鼠标右键选中内容背景颜色*/
::selection {
    background: var(--mainThemeColor) !important;
    color: #FFF;
}
::-moz-selection {
    background: var(--mainThemeColor) !important;
    color: #FFF;
}

/*搜索结果关键字高亮*/
.search-keyword-highlight {
    color: var(--mainThemeColor);
}