@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #55bd66,
    ),
  ),
  $dialog: (
    'bg-color': var(--bgColor),
  ),
  $text-color: (
    'primary': var(--fontColor)
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;